.Read
    flex auto
    display flex
    flex-direction column

    .Text
        flex auto
        display flex
        overflow-y scroll
        -webkit-overflow-scrolling touch

        .Sentence
            &.highlight
                background-color lighten(#fa5225, 60%)

    .Controls
        height 60px
        background-color black
        flex-shrink 0
        display flex
        flex-direction row
        justify-content center
        div
            width 50px
            margin 5px
            color white
        .controlItem
          div
            border 0
            margin auto
            margin-top 7.5px
            width 30px
          svg
            path
              fill white
