.Read
    flex auto
    display flex
    flex-direction column

    .Text
        flex auto
        display flex
        overflow-y scroll
        -webkit-overflow-scrolling touch
        padding-left 1.2em
        padding-right 1.2em
        margin-bottom 1.2em

        .Sentence
          font-size 1.2em
          &.highlight
            background-color lighten(#fa5225, 60%)
