.Read
    flex auto
    display flex
    flex-direction column

    .Text
        flex auto
        display flex
        overflow-y scroll
        -webkit-overflow-scrolling touch

        .Sentence
            &.highlight
                background-color lighten(#fa5225, 60%)
