@import "node_modules/@taghub/taghub-styling/elements"

body
    margin 0
    padding 0

    button
        $taghub-button-basic()
        $taghub-box-shadow()

    .App
        display flex
        position fixed
        top 0
        left 0
        right 0
        bottom 0

    .CanSay
        width 100%
        display flex
        flex-direction column

        .Header
            height 60px
            border 1px solid red
            flex-shrink 0

        .Text
            flex auto
            border 1px solid red
            display flex
            overflow-y scroll
            -webkit-overflow-scrolling touch

        .Controls
            height 60px
            border 1px solid red
            flex-shrink 0
            display flex
            flex-direction row
            justify-content center
            div
                border 1px solid red
                width 50px
                margin 5px
