body
    margin 0
    padding 0

    .App
        display flex
        position fixed
        top 0
        left 0
        right 0
        bottom 0
        flex-direction column

        .Header
            height 60px
            flex-shrink 0
            font-family: 'Press Start 2P', cursive
            text-align center
            line-height 60px
            background-color #fa5225
